<!--/*@thymesVar id="page" type="java.lang.String"*/-->
<div xmlns:th="http://www.thymeleaf.org" class="page speakers"
     th:style="((${page} == 'speakers') ? 'display: block' : 'display: none')">
    <div class="page-description px-4 px-lg-0">
        <div class="container px-0 pt-1 pb-1">
            <!--/*@thymesVar id="constants" type="ru.kugnn.microkonf.config.style.Constants"*/-->
            <p th:utext="${constants.speakers.description}"></p>
        </div>
    </div>
    <div class="container px-4 px-lg-0 pb-4" id="speakers">
        <div class="row mx-auto">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                <!--/*@thymesVar id="speakers" type="ru.kugnn.microkonf.config.blocks.speakers.Speakers"*/-->
                <div class="col mb-4" th:each="speaker : ${speakers.speakers}">
                    <div class="card h-100 text-center">
                        <div style="transform: rotate(0);"> <!-- Limit stretched link to this card level -->
                            <img class="card-img-top speakerImg"
                                 th:src="${speaker.photo}"
                                 th:alt="${speaker.name}">
                            <div class="card-body">
                                <h5 class="card-title mb-1" th:text="${speaker.name}"></h5>
                                <h6 class="card-title" th:text="${speaker.country}"></h6>
                                <p class="card-text speakerBio" style="max-height: 150px"
                                   th:text="${speaker.bio}"></p></div>
                            <a class="stretched-link"
                               data-toggle="modal"
                               th:href="'#modal'+${speaker.id}"></a>
                        </div>
                        <div class="card-footer bg-transparent mt-auto" style="padding: 0">
                            <ul class="list-group list-group-flush" style="border: none">
                                <a target="_blank" rel="noopener noreferrer" th:href="${speaker.company.url}">
                                    <li class="list-group-item d-flex mx-auto align-items-center speakerCompanyItem"
                                        style="border-top: none; border-left: none; border-right: none;">
                                        <img class="speakerCompany lazyload"
                                             th:attr="data-src=${speaker.company.logo}"
                                             th:alt="${speaker.company.name}">
                                    </li>
                                </a>
                                <li class="list-group-item"
                                    th:if="${speaker.socials != null && !speaker.socials.isEmpty()}">
                                    <ul class="nav justify-content-center">
                                        <li class="nav-item" th:each="item : ${speaker.socials}">
                                            <a class="nav-link teamSocial"
                                               rel="noopener noreferrer"
                                               target="_blank"
                                               th:href="${item.url}">
                                                <i th:class="|fa fa-${item.type} mr-sm-1|"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>