<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="jumbotron jumbotron-fluid px-0" id="social">
            <div class="container">
                <div class="row mx-auto">
                    <!--/*@thymesVar id="constants" type="ru.kugnn.microkonf.config.SiteConstants"*/-->
                    <h1 class="container-title w-100 text-center" th:text="${constants.socialSubscriptionTitle}"></h1>
                </div>
                <!--/*@thymesVar id="organizers" type="ru.kugnn.microkonf.config.blocks.Organizers"*/-->
                <div class="row mx-auto justify-content-around" th:each="entry: ${organizers.userGroups}">
                    <div class="col-6 col-sm-4 pb-3"
                         th:each="item : ${entry.links}"
                         th:if="${item.featured}">
                        <a class="btn btn-primary w-100"
                           style="font-size: inherit !important; line-height: inherit !important;"
                           target="_blank"
                           th:href="${item.url}">
                            <i th:class="|fa fa-${item.type} mr-sm-1|"></i>
                            <span class="d-block d-sm-inline font-weight-bold" th:text="${entry.shortName}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
