<!--/*@thymesVar id="venue" type="ru.kugnn.microkonf.config.blocks.index.Venue"*/-->
<div xmlns:th="http://www.thymeleaf.org" class="container px-0 pb-4" id="venue" th:if="${venue.enabled}">
    <div class="row mx-auto">
        <!--/*@thymesVar id="constants" type="ru.kugnn.microkonf.config.style.Constants"*/-->
        <h1 class="container-title w-100" th:text="${constants.venue.title}"></h1>
    </div>
    <div class="row mx-auto">
        <div class="col-12">
            <div class="card h-100">
                <!--/*@thymesVar id="venue" type="ru.kugnn.microkonf.config.blocks.index.Venue"*/-->
                <img class="card-img-top venueImg lazyload" alt="Venue Image" th:attr="data-src=${venue.image}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${venue.name}"></h5>
                    <p class="card-text text-justify" th:text="${venue.description}"></p>
                    <a class="btn btn-primary mt-auto"
                       rel="noopener noreferrer"
                       target="_blank"
                       th:href="${venue.mapLink}"
                       th:text="${venue.address}"></a>
                </div>
            </div>
        </div>
    </div>
</div>