<div xmlns:th="http://www.thymeleaf.org" class="welcome d-flex justify-content-center flex-column">
    <img class="conference-logo" alt="Welcome Banner" src="/public/images/assets/event-logo.svg"/>

    <div class="inner-wrapper mt-auto">
        <!--/*@thymesVar id="conference" type="ru.kugnn.microkonf.config.blocks.index.Conference"*/-->
        <p class="slide-in visible mb-1" th:text="${conference.conferenceWhere}"></p>
        <p class="slide-in visible mb-1" th:text="${conference.conferenceWhen}"></p>

        <div class="action-links slide-in visible mt-3">
            <!--/*@thymesVar id="tickets" type="ru.kugnn.microkonf.config.blocks.index.Tickets"*/-->
            <a class="btn btn-primary btn-pill align-self-center mr-2" rel="noopener noreferrer" target="_blank"
               th:if="${tickets.enabled}"
               th:href="${tickets.orderUrl}">
                <i th:class="|fa fa-${tickets.free ? 'id-card' : 'cart-arrow-down'} mr-1|"></i>
                <!--/*@thymesVar id="constants" type="ru.kugnn.microkonf.config.style.Constants"*/-->
                <th:block th:text="${tickets.free ? constants.tickets.get : constants.tickets.buy}"/>
            </a>
        </div>
    </div>
</div>
