<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <!-- Optional meta tags -->
        <meta content="" name="description">
        <meta content="" name="author">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans" rel="stylesheet"
              type="text/css">

        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">

        <!-- Icons -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link href="/public/css/custom.css" rel="stylesheet"/>

        <link href="/favicon.ico" rel="icon"/>

        <!-- Homescreen icons. -->
        <link href="/public/images/assets/manifest/icons/icon-48.png" rel="apple-touch-icon">
        <link href="/public/images/assets/manifest/icons/icon-72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="/public/images/assets/manifest/icons/icon-96.png" rel="apple-touch-icon" sizes="96x96">
        <link href="/public/images/assets/manifest/icons/icon-144.png" rel="apple-touch-icon" sizes="144x144">
        <link href="/public/images/assets/manifest/icons/icon-192.png" rel="apple-touch-icon" sizes="192x192">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" th:content="#{/images/assets/manifest/icon-144.png}">
        <meta content="#00aba9" name="msapplication-TileColor">
        <meta content="no" name="msapplication-tap-highlight">

        <!--/*@thymesVar id="conference" type="ru.kugnn.microkonf.config.blocks.index.Conference"*/-->
        <title th:text="${conference.name}"></title>
    </head>
    <body>
        <th:block th:replace="/blocks/navigation.html"/>
        <th:block th:each="block : ${blocks}">
            <!--/*@thymesVar id="page" type="java.lang.String"*/-->
            <!--/*@thymesVar id="block" type="java.lang.String"*/-->
            <th:block th:replace="|/blocks/${page}/${block}.html|"/>
        </th:block>
        <th:block th:replace="/blocks/footer.html"/>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
                crossorigin="anonymous"></script>
        <script defer src="https://unpkg.com/@popperjs/core@2"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

        <script defer src="/public/js/custom.js"></script>
        <script defer src="/public/js/sidenav.js"></script>
    </body>
</html>
