<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <!-- Optional meta tags -->
        <meta content="Microkonf Site" name="description">
        <meta name="theme-color" content="#448aff">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans" rel="stylesheet" type="text/css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">

        <!-- Icons -->
        <link rel="stylesheet" href="/public/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/public/css/flickity.min.css">
        <link rel="stylesheet" href="/public/css/custom.css"/>

        <link href="/public/images/assets/manifest/icons/favicon.ico" rel="icon"/>

        <!-- Homescreen icons. -->
        <link rel="apple-touch-icon" sizes="57x57" href="/public/images/assets/manifest/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/public/images/assets/manifest/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/public/images/assets/manifest/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/public/images/assets/manifest/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/images/assets/manifest/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/public/images/assets/manifest/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/images/assets/manifest/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/public/images/assets/manifest/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/images/assets/manifest/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
              href="/public/images/assets/manifest/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/images/assets/manifest/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/public/images/assets/manifest/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public/images/assets/manifest/icons/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- PWA Web Manifest-->
        <link rel="manifest" href="/public/manifest.json">

        <!--/*@thymesVar id="conference" type="ru.kugnn.microkonf.config.blocks.index.Conference"*/-->
        <title th:text="${conference.name}"></title>

        <script defer src="/public/js/routing.js"></script>
    </head>
    <body>
        <th:block th:replace="/blocks/navigation.html"/>
        <th:block th:replace="/blocks/index/home.html"/>
        <th:block th:replace="/blocks/schedule/schedule.html"/>
        <th:block th:replace="/blocks/speakers/speakers.html"/>
        <th:block th:replace="/blocks/team/team.html"/>
        <th:block th:replace="/blocks/footer.html"/>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="/public/js/jquery.min.js"></script>
        <script defer src="/public/js/popper.min.js"></script>
        <script defer src="/public/js/bootstrap.min.js"></script>
        <script defer src="/public/js/flickity.min.js"></script>
        <script defer src="/public/js/lazysizes.min.js"></script>
        <script defer src="/public/js/custom.js"></script>
        <script defer src="/public/js/sidenav.js"></script>
        <script defer src="/public/js/service-worker-main.js"></script>

        <!-- Modals -->
        <th:block th:utext="${speakerModals}"></th:block>
        <th:block th:utext="${speakerSessionModals}"></th:block>
    </body>
</html>
