<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <!-- Optional meta tags -->
        <meta content="" name="description">
        <meta content="" name="author">
        <meta name="theme-color" content="#448aff">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans" rel="stylesheet"
              type="text/css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">

        <!-- Icons -->
        <link rel="stylesheet" href="/public/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/public/css/flickity.min.css">
        <link rel="stylesheet" href="/public/css/custom.css"/>

        <link href="/favicon.ico" rel="icon"/>

        <!-- Homescreen icons. -->
        <link href="/public/images/assets/manifest/icons/icon-48.png" rel="apple-touch-icon">
        <link href="/public/images/assets/manifest/icons/icon-72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="/public/images/assets/manifest/icons/icon-96.png" rel="apple-touch-icon" sizes="96x96">
        <link href="/public/images/assets/manifest/icons/icon-144.png" rel="apple-touch-icon" sizes="144x144">
        <link href="/public/images/assets/manifest/icons/icon-192.png" rel="apple-touch-icon" sizes="192x192">

        <!-- PWA Web Manifest-->
        <link rel="manifest" href="/public/manifest.webmanifest">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" th:content="#{/images/assets/manifest/icon-144.png}">
        <meta content="#00aba9" name="msapplication-TileColor">
        <meta content="no" name="msapplication-tap-highlight">

        <!--/*@thymesVar id="conference" type="ru.kugnn.microkonf.config.blocks.index.Conference"*/-->
        <title th:text="${conference.name}"></title>

        <script defer src="/public/js/routing.js"></script>
    </head>
    <body>
        <th:block th:replace="/blocks/navigation.html"/>
        <th:block th:replace="/blocks/index/home.html"/>
        <th:block th:replace="/blocks/schedule/schedule.html"/>
        <th:block th:replace="/blocks/speakers/speakers.html"/>
        <th:block th:replace="/blocks/team/team.html"/>
        <th:block th:replace="/blocks/footer.html"/>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="/public/js/jquery.min.js"></script>
        <script defer src="/public/js/popper.min.js"></script>
        <script defer src="/public/js/bootstrap.min.js"></script>
        <script defer src="/public/js/flickity.min.js"></script>
        <script defer src="/public/js/lazysizes.min.js"></script>
        <script defer src="/public/js/custom.js"></script>
        <script defer src="/public/js/sidenav.js"></script>
        <script defer src="/public/js/service-worker-main.js"></script>

        <!-- Modals -->
        <th:block th:utext="${speakerModals}"></th:block>
        <th:block th:utext="${speakerSessionModals}"></th:block>
    </body>
</html>
